@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background-color: white;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 0px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    width: 50px;
    height: 30px;
    border-radius: 45%;
    padding: 3px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.right-links {
    display: flex;
    gap: 25px;
    padding: 0%;    
}

ul {
    list-style: none;    
}

a {
    text-decoration: none;
    color: white;
}

.bot {
    display: flex;
    
    padding-top: 80px;
    padding-bottom: 80px; 
}

.intro {
    flex: 1;
    
    
}

.bigtext {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px 4px rgba(147, 165, 179, 0.5);

}

.smalltext {
    font-size: 18px;
    color: white;
}

.button1 {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.mixer {
    width: 400px;
    height: 220px;
    box-shadow: 14px 14px 16px rgba(0, 0, 0, 0.2);
    border: 3px rgba(124, 121, 121, 0.2);
    flex: 1;
}

