@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 60px;
    height: 40px;
    border-radius: 45%;
    padding: 3px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.right-links {
    display: flex;
    gap: 25px;
    padding: 0%;    
}

ul {
    list-style: none;    
}

a {
    text-decoration: none;
    color: white;
}

.bot {
    display: flex;
    padding: 7em 0;
    justify-content: center;
    align-items: center;
    gap: 2em; 
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.bigtext {
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.smalltext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.mixer {
    width: 50%;
    height: 220px;
    box-shadow: 14px 14px 16px rgba(0, 0, 0, 0.2);
    border: 3px rgba(124, 121, 121, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

